body {
    font-family: 'Open Sans', sans-serif;
}
/* Nav Section */
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
}
.nav-logo {
    /* width: 86.041px;
    height: 40px; */
    margin-right: 20px;
}
.nav-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.nav-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.nav-container a {
    text-decoration: none;
}
.nav-container li {
    list-style: none;
}
.nav-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 250px; */
    /* height: 25px; */
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    
}
.nav-social-media-title {
    padding-left: 24px;
    padding-right: 24px;
}
.youtube-icon {
    padding-right: 16px;
}
.tiktok-icon {
    padding-right: 24px;
}



